#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#model-components {
  text-align: left;
  grid-template-columns: 290px 290px;
  column-gap: 1em;
  display: grid;
}

div#inference {
  width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

#plot-container {
  width: 400px;
  height: 400px;
  position: relative;
  background-color: #ccc;
}


.prior-component-title {
  text-align: center;
  font-weight: bold;
  background-color: #ccc;
}

#inference-parameters {
  margin: 4px;
}

#empty-posterior {
  color: red;
}

.value-group {
  background-color: #cde;
  border-radius: 8px;
  margin: 4px;
  padding: 2px;
}

.log-error {
  color: #a00;
}

span.posterior {
  color: #060;
  font-style: italic;
  font-size: smaller;
}

@media (prefers-color-scheme: dark) {
  div.value-group {
    background-color: #234;
  }
  span.posterior {
    color: #0a0;
  }
  div.prior-component-title {
    background-color: #333;
  }
}
